/* SECTION */
.skills-section {
  min-height: 100vh;
  padding: 80px;
  color: #ffffff;
}

/* TITLE */
.skills-title {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 70px;
}

/* WRAPPER → COLUMNS */
.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

/* GROUP */
/* .skill-group {
  position: relative;
  border: 1px solid rgb(0, 242, 255);
  padding: 30px;
} */

/* .skill-group:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.06);
} */

.skill-group-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 26px;
  letter-spacing: 0.4px;
  opacity: 0.95;
}

/* GRID */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

/* CARD */
.skill-card {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  padding: 14px 10px;
  text-align: center;
  transition: all 0.25s ease;
}

/* ICON */
.skill-card i {
  font-size: 22px;
  display: block;
  margin-bottom: 8px;
  opacity: 0.9;
}

/* TEXT */
.skill-card span {
  font-size: 12px;
  letter-spacing: 0.3px;
  opacity: 0.85;
}

/* HOVER */
.skill-card:hover {
  transform: translateY(-2px);
  border-color: rgba(56, 189, 248, 0.5);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .skill-group {
    padding-right: 0;
    border-right: none !important;
  }
}

@media (max-width: 600px) {
  .skills-section {
    padding: 50px 20px;
  }

  .skills-title {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
  }
}

.skill-card {
  background: rgba(42, 33, 72, 0.7);
  border-radius: 14px;
  padding: 18px 12px;
  text-align: center;

  border: 1px solid rgba(123, 47, 247, 0.2);

  transition: all 0.25s ease;
  cursor: default;

  box-shadow:
    inset 0 0 15px rgba(123, 47, 247, 0.08);
}
.skill-card i {
  font-size: 34px;
  margin-bottom: 8px;
  display: block;

  color: #caa6ff;

  transition: all 0.25s ease;
}

.skill-card:hover i {
  color: #ffffff;
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #7b2ff7);
}
.skill-card i {
  font-size: 34px;
  margin-bottom: 8px;
  display: block;

  color: #caa6ff;

  transition: all 0.25s ease;
}

.skill-card:hover i {
  color: #ffffff;
  transform: scale(1.2);
  filter: drop-shadow(0 0 10px #7b2ff7);
}
.skill-card span {
  font-size: 14px;
  opacity: 0.9;
}